header {
    background-image: url(img/pattern.png);
    background-size: contain;
    background-repeat: repeat;
    background-color: rgb(0, 138, 184);
    height: 70px;
    width: 100%;
}

#logo {
width: 15%;
margin-left: 7%;
margin-top: 30px;
}

main{
    width: 80%;
    margin-left: 70px;
}
#title{
    margin-bottom: 1px;
}
h5{
    color: gray;
    margin-top: 1px;
    margin-bottom: 1px;
}
#name{
    color: rgb(0, 221, 255)
}
#date{
    color: gray;
    margin-top: 1px;
    font-size: xx-small;
}
.photo.tim{
    display: inline-block;
    width: 48%;
    height: 250px;
    margin: 0px;
}
.photo.credit{
    font-size: xx-small;
    margin-top: 1px;
    margin-bottom: 1px;
}
#lorem {
    font-size: small;
}
#list {
    font-size: small;
    margin-left: 1px;
    padding: 1px;
}
table {
    font-size: x-small;
    width: 100%;
    border-collapse: collapse;
    margin-top: 1px;
}
td{
    min-width: 175px;
}
thead {
    text-align: left;
    background-color: rgb(0, 166, 191);
    color: white;
}
.odd {
    background-color: rgb(153, 229, 255);
    color: black;
}
.even {
    background-color: white;
    color: black;
}